In [1]:
import numpy as np
import pandas as pd

### Data Loading

In [2]:
from sklearn.datasets import load_iris

iris = load_iris()

In [3]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
iris_input = iris['data']
iris_target = iris['target']

In [5]:
print(iris_input.shape)

(150, 4)

In [6]:
print(iris_target.shape)

(150,)

In [7]:
iris_df = pd.DataFrame(data=iris_input, columns=iris['feature_names'])
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [8]:
iris_df['target'] = iris_target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### Data Splitting

In [9]:
# Make sure there should be the same result after on and on!
np.random.seed(1234)

In [10]:
from sklearn.model_selection import train_test_split

x = iris_df.drop(columns='target', axis='columns')
y = iris_df['target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(105, 4) (45, 4)
(105,) (45,)

### Modeling

In [11]:
from sklearn.tree import DecisionTreeClassifier

# Define the model
dt = DecisionTreeClassifier()
# Make the model learn itself
dt.fit(x_train, y_train)

DecisionTreeClassifier()

### Modeling Evaluation

In [12]:
# Create predicted values
y_predicted = dt.predict(x_test)
print(y_predicted)

[1 1 2 0 1 0 0 0 1 2 1 0 2 1 0 1 2 0 2 1 1 1 1 1 2 0 2 1 2 0 1 2 0 2 2 0 0
 0 0 1 0 1 0 2 2]

In [14]:
from sklearn.metrics import accuracy_score, r2_score

print(accuracy_score(y_test, y_predicted).round(4))
print(r2_score(y_test, y_predicted).round(4))

0.9778
0.9638